/NewResistorCalculator/gen/
/NewResistorCalculator/bin/
/Expression_Calculator/gen/
/MoonLander/gen/
/MoonLander/bin/
/JavaReview/nbproject/private/
/JavaReview/build/
/GregCal/nbproject/private/
/GregCal/build/
/GregCal/dist/
/SqRoot/nbproject/private/
/SqRoot/build/
/SqRoot/dist/
/TestApp/gen/