TestApp/bin/
TestApp/local.properties
TestApp/gen
/Batman On Drugs/gen/
/Batman On Drugs/bin/
/HW2_Summer2014/nbproject/private/
/HW2_Summer2014/build/
/HW3_Summer2014/nbproject/private/
/HW3_Summer2014/build/
/ClickThis/gen/
/Recursion_Solutions/nbproject/private/
/Recursion_Solutions/build/